<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>Sign Up</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


    <script src="/scripts/custom.js" ></script>
    <link rel="stylesheet" href="/css/signin.css" >
</head>
<body>


<nav th:replace="layout/navigation.html :: nav"> </nav>
<br><br><br><br>



<div class="container">
    <div id="myProgress">
        <div id="myBar" style="--w: 50%;">50%</div>
    </div>


    <form action="#"  th:action="@{/registration/add-passport}" th:object="${passport}" method="post" enctype="utf8" id="reg">
        <h1 class="h3 mb-3 font-weight-normal">Add a Passport</h1>


        <div class='row'>
            <div class="form-group col-md-4">
                <label>Type Of Passport</label>
                <input type="text" id="type" class="form-control" placeholder="Passport Type" th:field="*{type}" required autofocus>
                <td th:if="${#fields.hasErrors('type')}" th:errors="*{type}">Error</td>
            </div>
            <div class="form-group col-md-4">
                <label>Passport Code</label>
                <input type="text" id="code" class="form-control" placeholder="Passport Code Number" th:field="*{code}">
                <td th:if="${#fields.hasErrors('code')}" th:errors="*{code}">Error</td>
            </div>

            <div class="form-group col-md-4">
                <label>Passport Number</label>
                <input type="text" id="passportNo" class="form-control" placeholder="Passport Number" th:field="*{passportNo}">
                <td th:if="${#fields.hasErrors('passportNo')}" th:errors="*{passportNo}">Error</td>
            </div>
        </div>

    <div class='row'>
        <div class="form-group col-md-4">
            <label>Surname</label>
            <input type="text" id="surname" name="surname" class="form-control" placeholder="Surname" th:value="${surname}">
            <td th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Error</td>
        </div>
        <div class="form-group col-md-4">
            <label>Given Name</label>
            <input type="text" id="givenName" name="givenName" class="form-control" placeholder="Given Name" th:value="${givenName}">
            <td th:if="${#fields.hasErrors('givenName')}" th:errors="*{givenName}">Error</td>
        </div>

        <div class="form-group col-md-4">
            <label>Nationality</label>
            <input type="text" id="nationality" class="form-control" placeholder="Nationality" th:field="*{nationality}">
            <td th:if="${#fields.hasErrors('nationality')}" th:errors="*{nationality}">Error</td>
        </div>
    </div>

    <div class='row'>
        <div class="form-group col-md-4">
            <label>Sex</label>

            <input type="text" id="sex" class="form-control" placeholder="Sex" th:field="*{sex}">
            <td th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}">Error</td>
        </div>
        <div class="form-group col-md-4">
            <label>Authority</label>

            <input type="text" id="authority" class="form-control" placeholder="Authority" th:field="*{authority}">
            <td th:if="${#fields.hasErrors('authority')}" th:errors="*{authority}">Error</td>
        </div>

        <div class="form-group col-md-4">
            <label>Place Of Bith</label>

            <input type="text" id="placeOfBirth" class="form-control" placeholder="placeOfBirth" th:field="*{placeOfBirth}">
            <td th:if="${#fields.hasErrors('placeOfBirth')}" th:errors="*{placeOfBirth}">Error</td>
        </div>
    </div>

    <div class='row'>
        <div class="form-group col-md-4">
            <label> Date of Birth</label>
            <input data-date-format="mm-dd-yyyy" class="datepicker"
                   placeholder="MM-DD-YYYY" th:field="*{dateOfBirth}">
            <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            <td th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}">Error</td>
        </div>
        <div class="form-group col-md-4">
            <label> Date of Issue</label>
            <input data-date-format="mm-dd-yyyy" class="datepicker"
                   placeholder="MM-DD-YYYY" th:field="*{dateOfIssue}">
            <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            <td th:if="${#fields.hasErrors('dateOfIssue')}" th:errors="*{dateOfIssue}">Error</td>
        </div>

        <div class="form-group col-md-4">
            <label> Date of Expiration</label>
            <input data-date-format="mm-dd-yyyy" class="datepicker"
                   placeholder="MM-DD-YYYY" th:field="*{dateOfExpiration}">
            <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            <td th:if="${#fields.hasErrors('dateOfExpiration')}" th:errors="*{dateOfExpiration}">Error</td>
        </div>


    </div>







        <input class="btn btn-lg btn-primary btn-block" value="Next" onclick="move(50,75)">
    </form>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>

<style type="text/css">
    .datepicker td, .datepicker th {
        width: 1.5em;
        height: 1.5em;
    }

</style>
<script type="text/javascript">
    $('.datepicker').datepicker({
        weekStart: 1,
        daysOfWeekHighlighted: "6,0",
        autoclose: true,
        todayHighlight: true,
    });
    $('.datepicker').datepicker("setDate", new Date());
</script>
</body>
</html>