<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>Sign Up</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/signin.css" >
</head>
<body>


<nav th:replace="layout/navigation.html :: nav"> </nav>
<br><br><br><br>

<div class="container">
    <form action="#" th:action="@{/registration/add-id-card}" th:object="${idcard}" method="post" enctype="utf8">
    <form action="#" th:action="@{/registration/add-id-card}" th:object="${idcard}" method="post" enctype="utf8">
        <h1 class="h3 mb-3 font-weight-normal">Add Identification Card</h1>


        <div class='row'>
            <div class="form-group col-md-6">
                <label> First Name</label>
                <input type="text" id="firstName" class="form-control" placeholder="First Name" th:field="*{firstName}"
                       required autofocus>
            </div>
            <div class="form-group col-md-6">
                <label> Second Name </label>
                <input type="text" id="secondName" class="form-control" placeholder="Second Name"
                       th:field="*{secondName}">
            </div>
        </div>


        <div class='row'>

        </div>

        <div class='row'>
            <div class="form-group col-md-12">
                <label>Address </label>
                <input type="text" id="address" class="form-control" placeholder="Address" th:field="*{address}">
            </div>
        </div>


        <div class='row'>
            <div class="form-group col-md-4">
                <label> Height </label>
                <input type="text" id="height" class="form-control" placeholder="Height (Ex: 6' 1 &quot "
                       th:field="*{height}">
            </div>

            <div class="form-group col-md-4">
                <label>Color of eyes </label>
                <input type="text" id="eye" class="form-control" placeholder="Color of eyes " th:field="*{eyes}">
            </div>

            <div class="form-group col-md-4">
                <label>Sex </label>
                <input type="text" id="sex" class="form-control" placeholder="Sex" th:field="*{sex}">
            </div>

        </div>


        <div class='row'>
            <div class="form-group col-md-4">
                <label> Date Issued</label>
                <input data-date-format="mm-dd-yyyy" id="datepicker" class="form-control datepicker"
                       placeholder="MM-DD-YYYY" th:field="*{issued}">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>

            <div class="form-group col-md-4">
                <label> Date Of Expiration</label>
                <input data-date-format="mm-dd-yyyy" id="datepicker" class="form-control datepicker"
                       placeholder="MM-DD-YYYY" th:field="*{dateOfExpiration}">
                <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
            </div>
            <div class="form-group col-md-4" >
                <label> Date Of Birth</label>
                <input data-date-format="mm-dd-yyyy" id="datepicker" class="form-control datepicker"
                       placeholder="MM-DD-YYYY" th:field="*{dateOfBirth}">
                <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
            </div>
        </div>





        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>

<style type="text/css">
    .datepicker td, .datepicker th {
        width: 1.5em;
        height: 1.5em;
    }

</style>
<script type="text/javascript">
    $('#datepicker').datepicker({
        weekStart: 1,
        daysOfWeekHighlighted: "6,0",
        autoclose: true,
        todayHighlight: true,
    });
    $('#datepicker').datepicker("setDate", new Date());
</script>
</body>
</html>