<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>Sign Up</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/signin.css" >
</head>
<body>


<nav th:replace="layout/navigation.html :: nav"> </nav>
<br><br><br><br>

<form action="#" th:action="@{/registration/add-id-card}" class="form-signin" th:object="${passport}" method="post" enctype="utf8">
    <h1 class="h3 mb-3 font-weight-normal">Add Passport</h1>



    <label for="type" class="sr-only" th:text="#{label.passport.type}" >Passport Type</label>
    <input type="text" id="type" class="form-control" placeholder="Passport Type" th:field="*{type}" required autofocus>

    <label for="code" class="sr-only" th:text="#{label.passport.code}" >Passport Code Number</label>
    <input type="text" id="code" class="form-control" placeholder="Passport Code Number" th:field="*{code}">

    <label for="passportNo" class="sr-only" th:text="#{label.passport.passportNo}" >Passport No</label>
    <input type="text" id="passportNo" class="form-control" placeholder="Passport Number" th:field="*{passportNo}">

    <label for="surname" class="sr-only" th:text="#{label.passport.surname}" >Suranme</label>
    <input type="text" id="surname" class="form-control" placeholder="Surname" th:field="*{surname}">

    <label for="givenName" class="sr-only" th:text="#{label.passport.surname}" >Given Name</label>
    <input type="text" id="givenName" class="form-control" placeholder="Given Name" th:field="*{givenName}">

    <label for="nationality" class="sr-only" th:text="#{label.passport.nationality}" >Given Name</label>
    <input type="text" id="nationality" class="form-control" placeholder="Nationality" th:field="*{nationality}">

    <label for="sex" class="sr-only" th:text="#{label.passport.sex}" >Sex</label>
    <input type="text" id="sex" class="form-control" placeholder="Sex" th:field="*{sex}">

    <label for="authority" class="sr-only" th:text="#{label.passport.authority}" >Authority</label>
    <input type="text" id="authority" class="form-control" placeholder="Authority" th:field="*{authority}">



    <div class='col-xs-4 input-group date'>
        <label for="dateOfBirth" class="sr-only" th:text="#{label.passport.dateOfBirth}" >Date of Birth</label>
        <input type="text" class="form-control datepicker" placeholder="MM-DD-YYYY" id="dateOfBirth" th:field="*{dateOfBirth}" />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>

    <div class='col-xs-4 input-group date'>
        <label for="placeOfBirth" class="sr-only" th:text="#{label.passport.placeOfBirth}" >Date of Birth</label>
        <input type="text" class="form-control datepicker" placeholder="MM-DD-YYYY" id="placeOfBirth" th:field="*{placeOfBirth}" />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>


    <div class='col-xs-4 input-group date'>
        <label for="dateOfIssue" class="sr-only" th:text="#{label.passport.dateOfIssue}" >Date of Birth</label>
        <input type="text" class="form-control datepicker" placeholder="MM-DD-YYYY" id="dateOfIssue" th:field="*{dateOfIssue}" />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>

    <div class='col-xs-4 input-group date'>
        <label for="dateOfExpiration" class="sr-only" th:text="#{label.passport.dateOfExpiration}" >Date of Birth</label>
        <input type="text" class="form-control datepicker" placeholder="MM-DD-YYYY" id="dateOfExpiration" th:field="*{dateOfExpiration}" />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>




    <button class="btn btn-lg btn-primary btn-block" type="submit"  >Register</button>
</form>

<script  type="text/javascript">
    $(function () {
        $('.datepicker').datetimepicker({
            format: 'MM-DD-YYYY'
        });
    });
</script>
</body>
</html>