<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>Sign Up</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/signin.css" >
</head>
<body>


<nav th:replace="layout/navigation.html :: nav"> </nav>
<br><br><br><br>
<div class="container">
    <div id="myProgress">
        <div id="myBar" style="--w: 50%;">50%</div>
    </div>
    <br>
    <br>
    <br>
<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Add Identification Card</h5>
                <a href="/registration/add-id-card" class="btn btn-primary">Add</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Add Driver's License </h5>
                <a href="/registration/add-dl" class="btn btn-primary">Add</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Add Passport </h5>
                <a href="/registration/add-passport" class="btn btn-primary">Add</a>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>