<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>Sign Up</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/signin.css" >
</head>
<body>


<nav th:replace="layout/navigation.html :: nav"> </nav>
 <br><br><br><br>
<form action="#" th:action="@{/registration}" class="form-signin" th:object="${user}" method="post" enctype="utf8">
    <h1 class="h3 mb-3 font-weight-normal">Sign up</h1>


    <label for="username" class="sr-only" th:text="#{label.user.username}" >Username (must be a email address)</label>
    <input type="email" id="username" class="form-control" placeholder="Username" th:field="*{username}" required autofocus>
    <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</td>

    <label for="firstName" class="sr-only" th:text="#{label.user.firstName}" >First Name</label>
    <input type="text" id="firstName" class="form-control" placeholder="First name" th:field="*{firstName}" >
    <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name Error</td>

    <label for="lastName" class="sr-only" th:text="#{label.user.lastName}" >Last Name</label>
    <input type="text" id="lastName" class="form-control" placeholder="Last Name" th:field="*{lastName}" >
    <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Name Error</td>

    <label for="password" class="sr-only" th:text="#{label.user.password}" >Password</label>
    <input type="password" id="password" class="form-control" placeholder="Password" th:field="*{password}" >
    <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</td>

    <label for="confirmPassword" class="sr-only" th:text="#{label.user.confirmPassword}" >Confirm Password</label>
    <input type="password" id="confirmPassword" class="form-control" placeholder="Password" th:field="*{confirmPassword}" >
    <td th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">Name Error</td>

    <button class="btn btn-lg btn-primary btn-block" type="submit"  >Register</button>
</form>
</body>
</html>